/**
 Copyright 2013 Yummy Melon Software LLC
 Author: Charles Y. Choi
 */

body {
    counter-reset: chapter;
}


h1 {
}

h2 {
    counter-increment: chapter;
    counter-reset: section1;
}

h2:before {
    content: counter(chapter) ". ";
}

h3 {
    counter-increment: section1;
    counter-reset: section2;
}

h3:before {
    content: counter(chapter) "." counter(section1) " ";
}

h4 {
    counter-increment: section2;
    counter-reset: section3;
    
}

h4:before {
    content: counter(chapter) "." counter(section1) "." counter(section2) " ";
}

h5 {
    counter-increment: section3;
}

h5:before {
    content: counter(chapter) "." counter(section1) "." counter(section2) "." counter(section3) " ";
}



